.body1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .container1 {
    background-color: #162447;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .heading1 {
    margin-bottom: 20px;
    color: #f8c94e;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #f8c94e;
    background-color: #0f3460;
    color: white;
  }
  
  .btn {
    background-color: #f8c94e;
    color: #1a1a2e;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .link {
    color: #f8c94e;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    display: inline-block;
  }
  
  .footer {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 12px;
  }
  mat-form-field {
    margin-right: 12px;
  }

  